.repo-search .ui.right.labeled.input .ui.buttons.label {
    width: 80px;
    padding: 0;
    margin: 0;
    height: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 0 4px 4px 0px;
    background: white;
}

.repo-search .ui.right.labeled.input {
    /* width: 150px; */
    margin: auto;
}

.repo-search .ui.right.labeled.input .ui.buttons.label .button {
    margin: 0;
    background: transparent;
    border-radius: 0;
}

.repo-search .ui.right.labeled.input .ui.buttons.label .button:active {
    background: #f6f8fa;
}

.repo-search .ui.right.labeled.input .ui.buttons.label .button:hover {
    background: #f6f8fa;
}

.repo-search .ui.right.labeled.input .ui.buttons.label .button:focus {
    color: green
}

.repo-search .ui.right.labeled.input .ui.buttons.label .clear-repo-search.button:focus {
    color: red
}

#repo-search-input {
    width: 180px;
}
